<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="img-circle" height="48" width="48" src="img/avatar.jpeg"/>
                    <a class="dropdown-toggle" href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold text-lt">{{main.userName}}</strong>
                                <b class="caret"></b>
                            </span>
                            <span class="text-muted text-xs block">Developer / Student</span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Facebook</a></li>
                        <li><a href="">Linkedin</a></li>
                        <li><a href="">Github</a></li>
                    </ul>
                </div>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="main">
                    <i class="fa fa-user"></i>
                    <span class="nav-label">About</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="education">
                    <i class="fa fa-graduation-cap"></i>
                    <span class="nav-label">Education</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="projects">
                    <i class="fa fa-folder-open"></i>
                    <span class="nav-label">Projects</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="resume">
                    <i class="fa fa-file"></i>
                    <span class="nav-label">Resume</span>
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="contact">
                    <i class="fa fa-envelope"></i>
                    <span class="nav-label">Contact</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
